<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo2.jpeg" type="image/x-icon">
    <title>Jessica MakeUp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9991ea00f9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div id="navbar">
            <input type="checkbox" id="menu">
            <label for="menu" class="menu"><i class="fa fa-bars"></i>
            </label>
            <nav>
                <ul>
                    <Li><i><img class="logo" src="logo2.jpeg" alt="Logomarca"></i></Li>
                    <li><a href="#sessao-bemvindo">Bem vindo</a></li>
                    <li><a href="#sessao-sobre">Sobre nós</a></li>
                    <li><a href="#sessao-makeUp1">MakeUp 1</a></li>
                    <li><a href="#sessao-makeUp2">MakeUp 2</a></li>
                    <li><a href="#sessao-makeUp3">MakeUp 3</a></li>
                    <li><a href="#sessao-contato">Contato</a></li>
                    <li><a href="#area_cads">Cadastre</a></li>
                </ul>
            </nav>
        </div>
        <section id="sessao-bemvindo">
            <div class="banner">
                <img class="bannerA" src="j_M_M.jpeg" alt="banner">
            </div>
            <div class="sessao-bemvindo-content">
                <h1>Seja bem vindo a Jessica Matos MakeUp</h1>
                <div class="sessao-minibanner">
                    <img class="banner3" src="banner3.jpeg" alt="">
                </div>
                <div class="sessao-descricao">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="sessao-bemvindo-btn">Leia mais</a>
                </div>
            </div>
        </section>
        <section id="sessao-sobre">
            <div class="sessao-content">
                <h1>Sobre nós</h1>
                <div class="sessao-minibanner">
                    <img class="banner4" src=".banner4.jpeg" alt="foto com endereço">
                </div>
                <div class="sessao-descricao">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </section>
        <section id="sessao-makeUp1">
            <h2>MakeUp 1</h2>
            <div class="makeUp1-imgs banner-galeria" id="img1"> </div>
            <div class="makeUp1-imgs banner-galeria" id="img2"> </div>
            <div class="makeUp1-imgs banner-galeria" id="img3"> </div>
            <div class="makeUp1-imgs banner-galeria" id="img4"></div>
        </section>
        <section id="sessao-makeUp2">
            <h2>MakeUp 2</h2>
            <div class="makeUp2-imgs banner-galeria" id="img7"></div>
            <div class="makeUp2-imgs banner-galeria" id="img8"></div>
            <div class="makeUp2-imgs banner-galeria" id="img9"></div>
            <div class="makeUp2-imgs banner-galeria" id="img10"></div>
            <div class="makeUp2-imgs banner-galeria" id="img11"></div>
            <div class="makeUp2-imgs banner-galeria" id="img12"></div>
        </section>
        <section id="sessao-makeUp3">
            <h2>MakeUp 3</h2>
            <div class="makeUp3-imgs banner-galeria" id="img13"></div>
            <div class="makeUp3-imgs banner-galeria" id="img14"></div>
            <div class="makeUp3-imgs banner-galeria" id="img15"></div>
            <div class="makeUp3-imgs banner-galeria" id="img16"></div>
            <div class="makeUp3-imgs banner-galeria" id="img17"></div>
            <div class="makeUp3-imgs banner-galeria" id="img18"></div>
            <div class="makeUp3-imgs banner-galeria" id="img19"></div>
            <div class="makeUp3-imgs banner-galeria" id="img20"></div>
        </section>
        <section id="sessao-contato">
            <h2>Entre em contato</h2>
            <form id="form-contato">
                <input type="text" name="name" placeholder="Nome">
                <input type="email" name="email" placeholder="E-mail">
                <textarea name="message" placeholder="Escreva sua mensagem.."></textarea>
                <input type="submit" value="Enviar">
            </form>
        </section>
        <section id="area_cads">
            <div class="sessao-descricao">
                <p>
                    Para fazer o agendamento online você precisa se cadasttrar. Você precisará efetuar o pagamento
                    referente <br>
                    a 30% do volar dos serviços!
                </p>
                <form id="form-cadastro" autocomplete="off">
                    <fieldset>

                        <legend> Cadastro</legend>
                        <input type="text" name="name" id="nome" placeholder="Nome Completo" required>
                        <input type="text" name="cpf" id="cpf" placeholder="Cpf" required>
                        <input type="email" name="email" id="e-mail" placeholder="E-mail" required>
                        <input type="text" name="telefone" id="phone" placeholder="Tel (00) 00000 0000" required> <br>
                        <legend class="endereco">Enderço:</legend>
                        <div ng-app="appCep">
                            <div ng-controller="CepController as vm">
                                <label ></label>
                                <input name="cep" id="cep" ng-blur="vm.pesquisar()" ng-model="vm.contribuinte.cep"
                                    type="text" placeholder="Cep:" />
                                <label class="endereco">Logradouro:</label>
                                <input name="logradouro" id="logradouro" ng-model="vm.contribuinte.logradouro"
                                    charcase="uppercase" type="text" />
                                <label class="endereco">Numero</label>
                                <input name="numero" type="text" id="numero" placeholder="Numero">
                                <label class="endereco">Bairro:</label>
                                <input name="bairro" id="bairro" ng-model="vm.contribuinte.bairro" type="text" placeholder="Bairro"/>
                                <label class="endereco">Cidade:</label>
                                <input name="cidade" id="cidade" ng-model="vm.contribuinte.cidade" type="text" />
                                <label class="endereco">UF:</label>
                                <input name="estado" id="estado" ng-model="vm.contribuinte.estado" charcase="uppercase"
                                    type="text" />

                                <div ng-show="vm.mensagem.visivel" class="vermelho">
                                    CEP ({{vm.contribuinte.cep}}) não encontrado!
                                </div>
                            </div>
                        </div>
                        <input type="password" name="password" id="password" placeholder="Senha">
                        <Input type="password" name="password" id="password" placeholder="Confirma Senha">

                        <button type="button">Cadastrar</button>
                    </fieldset>
                </form>
            </div>
        </section>
        <footer>
            <P>Instagran e whatsapp:</P>
            <div class="links">
                <a href="https://instagram.com/jessicamatosmakeup?utm_medium=copy_link" target="about_blank"><i
                        class="fab fa-instagram"></i> </a>
                <a href="https://api.whatsapp.com/send?phone=5519994012919" target="about_blank"><i
                        class="fab fa-whatsapp"></i></a>
            </div>
            <p class="desenvolvido">Em W Developer</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="vcep.js"></script>
</body>

</html>
